{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block extra_styles %}
    <link href="{% static 'bootstrap-social.css' %}" rel="stylesheet"/>
    <link href="{% static 'login.css' %}" rel="stylesheet"/>
{% endblock %}


{% block content %}


        <div class="login-page">
            <div class="form">
                <h2 class="header">Logowanie</h2>
                <hr>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="text" placeholder="Użytkownik" id="login_username" name="username"/>
                    <input type="password" placeholder="Hasło" id="login_password" name="password"/>
                    <button type="submit">Zaloguj się</button>
                    <p class="message">Nie masz konta? <a href="{% url 'registration_register' %}">Zarejestruj się
                        tutaj</a></p>
                    <br>
                </form>
                <p class="message">Lub zaloguj sie za pomocą : </p>

                <a class="btn btn-block btn-social btn-sm btn-facebook hard_corner"
                   href="{% url 'social:begin' 'facebook' %}"><span class="fa fa-facebook"></span>Facebook</a>
                <a class="btn btn-block btn-social btn-sm btn-google hard_corner"
                   href="{% url 'social:begin' 'google-oauth2' %}"><span class="fa fa-google"></span>Google</a>
                <a class="btn btn-block btn-social btn-sm btn-twitter hard_corner "
                   href="{% url 'social:begin' 'twitter' %}"><span class="fa fa-twitter"></span>Twitter</a>

            </div>
        </div>



{% endblock %}


