{% extends "base.html" %}
{% load static %}
{% load customfilters %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}TV Shows list{% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div id="menu-category" class="col-xs-12 col-md-2 col-lg-2 menu-panel">
        <h3 class="text-center" style="color: #474667">Kategorie</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "tvshows:tvshow_list" %}">All</a>
            </li>
        {% for cat in categories %}
            <li {% if category.slug == cat.slug %}class="selected"{% endif %}>
                <a href="{{ cat.get_absolute_url }}">{{ cat.name }} ({{ cat.id|get_count_of_category}})</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div id="tvshow-list" class="col-xs-12 col-md-10 col-lg-10">
        <h1>{% if category %}Category: {{ category.name }}{% else %}TV Shows list{% endif %}</h1>
    {% if user.is_staff %}
        <h1><a href="{% url 'tvshows:new_tvshow' %}" class="btn btn-md btn-info">Add TV Show  &nbsp;<span class="glyphicon glyphicon-plus"></span></a></h1>
    {% else %}

    {% endif %}
    <div class="row">
        {% for show in tvshows %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail borders" id="borders">
                    <a href="{{ show.get_absolute_url }}">
                    <img class="img-responsive" style="height: 250px; width: 200px; padding:10px;" src="{% if show.image %}{{ show.image.url }}{% else %}http://placehold.it/200x250{% endif %}">
                </a>
                    <div class="caption">
                       <div class="text-center"> <a href="{{ show.get_absolute_url }}"><h3 style="display: inline-block;"> {{ show.title }}</h3> <h4 style="display: inline-block;">({{ show.aired_from|get_year }} - {% if show.aired_to %}{{ show.aired_to|get_year }}{% else %}Now{% endif %})</h4></a></div>
                        <div class="text-center"><p>{{ show.get_category }}</p></div>
                        <p><span>Status:</span> <span><b>{{ show.get_status_display }}</b></span></p>
                        <p style="display: inline-block;" class="text-left"><span>Series No:</span> <span><b>{{ show.series_no }}</b></span></p>
                        <p style="display: inline-block;" class="text-right"><span>Episodes No:</span> <span><b>{{ show.episodes_no }}</b></span></p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}